<!-- <template>
    <div class ="container">
        <div class="card topMargin">
            <div class="card-body">
                <span><i click.trigger="back()" class="fa fa-arrow-left fa-lg" aria-hidden="true"></i></span>
            </div>
        </div>  
<form>
<div class="form-group topMargin">
        <label for="todoInput">Upload Photos: </label>
        <input value.bind="todoObj.todo" type="text" class="form-control" id="todoInput" aria-describedby="todoHelp" 
        placeholder="Enter ToDo">    

<div class="form-group">
        <label for="descriptionInput">PhotoName: </label>
        <textarea value.bind="todoObj.description" type="text" class="form-control" id="descriptionInput" aria-describedby="descriptionHelp" 
        placeholder="Enter Description"></textarea>
        <small id="descriptionHelp" class="form-text text-muted">
</div>

<div class="form-group">
        <label for="descriptionInput">A story to add about the Photo</label>
        <textarea value.bind="todoObj.description" type="text" class="form-control" id="descriptionInput" aria-describedby="descriptionHelp" 
        placeholder="Enter Description"></textarea>
        <small id="descriptionHelp" class="form-text text-muted">
</div>


    <div class="row">
    <div class="col">
    <label class="btn btn-primary">
    Browse for files &hellip; <input type="file" 
    style="display: none;" 
    change.delegate="changeFiles()" files.bind="files">
    </label>
    <small id="fileHelp" class="form-text text-muted">
    Upload Photos Here</small>
    
    </div>
        <br>
            <div class="col-8">
            <ul>
            <li repeat.for="file of filesToUpload" class="list-group-item">
            ${file.name}<span click.delegate="removeFile($index)" 
            class="pull-right"><i class="fa fa-trash" aria-hidden="true">
        </i></span></li>
        </ul>
    </div>
    </div>
    <button click.trigger="saveTodo()" class="btn btn-primary topMargin">Save</button>
    </form>
    </div>
        <label for="user.firstName">Hi  </label>  
        <input value.bind="user.firstName">
        <label for="user.firstName">Picture Name </label>  
        <input value.bind="user.firstName">
        <label for="user.lastName">Description</label>
        <input value.bind="user.lastName">
        <label for="user.email">Notes</label>
        <input value.bind="user.email">

        <button click.trigger="save()">Save</button>

/template> -->